[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
typing = "*"
flask-restx = "*"
google-auth = "*"
gunicorn = "*"
google-cloud-storage = "*"
google-cloud-recommender = "*"
google-api-python-client = "*"
google-cloud-iam = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
