[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
black = "*"
typing = "*"
flask-restx = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
